Repository opengisch/qfieldsync, pull requests merged in 2022-01, with the labels that each got.

#358 Add help button on the projects dialog that shows qfield.org/docs
  qfieldsync/gui/cloud_projects_dialog.py
  qfieldsync/ui/cloud_projects_dialog.ui
Labels: enhancement, patch

#362 Upload the .qgs/.qgs file at the end of the file transfer
  qfieldsync/core/cloud_transferrer.py
Labels: bug, cloud, minor

#363 Actually set dirname, not only the feedback
  qfieldsync/gui/cloud_create_project_widget.py
Labels: bug, cloud, patch

#364 Fix inverted logic and weird feedback when a project is cloudified
  qfieldsync/utils/cloud_utils.py
Labels: bug, cloud, patch

#360 Improve the instructions on the synchronize dialog
  qfieldsync/core/cloud_project.py
  qfieldsync/gui/cloud_transfer_dialog.py
  qfieldsync/ui/cloud_transfer_dialog.ui
Labels: enhancement, cloud, minor

#365 Restore delete functionality
  qfieldsync/gui/cloud_transfer_dialog.py
Labels: bug, cloud, patch

#366 Show feedback whether the uploaded project file is usable by QFieldCloud
  qfieldsync/core/cloud_project.py
  qfieldsync/gui/cloud_projects_dialog.py
Labels: enhancement, cloud, minor

#367 Show feedback when a file is locally deleted
  qfieldsync/core/cloud_transferrer.py
  qfieldsync/gui/cloud_projects_dialog.py
Labels: enhancement, cloud, minor

#368 Fix deleting remote files
  qfieldsync/core/cloud_transferrer.py
Labels: bug, cloud

#369 Keep local dirs configuration even if you change the API url
  qfieldsync/core/cloud_api.py
  qfieldsync/core/cloud_transferrer.py
Labels: bug, cloud, minor

#370 Disable the default timeout of 60 secs that QGIS has
  qfieldsync/core/cloud_api.py
Labels: bug, cloud, minor

#371 Fix sign out if there is no avatar
  qfieldsync/gui/cloud_projects_dialog.py
  qfieldsync/ui/cloud_projects_dialog.ui
Labels: enhancement, cloud, patch

#373 Fix sync dialog when dowloading project without selected local dir
  qfieldsync/gui/cloud_transfer_dialog.py
Labels: bug, cloud, patch

#375 Always use the singleton QgsNetworkAccessManager instance, otherwise ssl handling is impossible from python
  qfieldsync/core/cloud_api.py
Labels: bug, cloud, patch

#376 Remove assert in cloudify_project as new cloud users have _no_ projects, which have them hit the assert
  qfieldsync/gui/cloud_create_project_widget.py
Labels: bug, cloud, patch

#377 Worst typo in history breaks downloading
  qfieldsync/core/cloud_api.py
Labels: bug, cloud, patch

#378 Don't block the main thread when cloudifying a project so the UI updates
  qfieldsync/gui/cloud_create_project_widget.py
Labels: enhancement, cloud, minor
