Repository opengisch/qfieldsync, pull requests merged in 2022-03, with the labels that each got.

#396 Rename log in to sign in; Add reset password and register an account links
  qfieldsync/core/cloud_api.py
  qfieldsync/gui/cloud_login_dialog.py
  qfieldsync/gui/cloud_projects_dialog.py
  qfieldsync/ui/cloud_login_dialog.ui
  qfieldsync/ui/preferences_widget.ui
Labels: enhancement, cloud, minor

#403 Update cloud_transfer_dialog.py
  qfieldsync/gui/cloud_transfer_dialog.py
Labels: bug, cloud, patch

#405 Try fixing the release workflow
  .github/workflows/continuous_integration.yml
Labels: chore
